<div class="vh-100 d-flex align-items-center justify-content-center bg-white login-bg position-relative overflow-hidden">
  <!-- Fondo decorativo -->
  <div class="position-absolute w-100 h-100 decor-bg" style="z-index: 0; overflow: hidden;">
    <div class="layer-lines"></div>
    <div class="layer-lines--accent"></div>
  </div>

  <!-- Tarjeta de login -->
  <div class="card shadow border-0 p-4" style="max-width: 380px; width: 100%; z-index: 10;">
      <div class="text-center mb-3">
  <img src="assets/segure-bank-logo.png" alt="Segure Bank" style="height: 140px; width: auto;" />
    </div>

    <h2 class="text-center fw-bold mb-2">¡Hola!</h2>
    <p class="text-center text-muted mb-4">
      Ingresa los datos para gestionar tus productos y hacer transacciones.
    </p>

    <form (ngSubmit)="onSubmit()">
      <!-- Usuario -->
      <div class="mb-3 position-relative">
        <i class="bi bi-person position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
        <input
          type="text"
          [(ngModel)]="usuario"
          id="usuario"
          name="usuario"
          placeholder="Usuario"
          required
          class="form-control ps-5 py-2"
        />
        <div class="text-end mt-1">
          <a href="#" (click)="forgotUsername()" class="small text-primary text-decoration-none">¿Olvidaste tu usuario?</a>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3 position-relative">
        <label for="Contraseña" class="form-label">Contraseña</label>
        <i class="bi bi-lock position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          id="Contraseña"
          placeholder="Clave "
          required
          class="form-control ps-5 py-2"
        />
        <div class="text-end mt-1">
          <a href="#" (click)="forgotPassword()" class="small text-primary text-decoration-none">¿Olvidaste o bloqueaste tu clave?</a>
        </div>
      </div>

      <!-- Botón de login -->
      <button type="submit" class="btn btn-primary w-100 mb-3">
        Iniciar sesión
      </button>

      <!-- Crear usuario -->
      <div class="text-center">
        <a [routerLink]="['/register']" class="text-decoration-none fw-medium text-dark">
          Crear usuario
        </a>
      </div>
    </form>

    <p class="text-center text-muted small mt-4 mb-0">Sucursal Virtual Personas</p>
  </div>
</div>
